/* 변수 선언하기 */
:root {
    /* color */
    --Primary-color: #1A5FA1;
    --Primary-Hover-color: #13578F;
    --Primary-Pressed-color: #104876;
    --Primary-Subtle-color: #DCECF8;

    --Neutral-100: #f2f2f2;
    --Neutral-200: #e5e5e5;
    --Neutral-300: #d4d4d4;
    --Neutral-400: #a3a3a3;
    --Neutral-500: #737373;
    --Neutral-600: #525252;
    --Neutral-700: #404040;
    --Neutral-800: #262626;
    --Neutral-900: #171717;

    /* layout */
    --inner-width: 1440px;

    /* spacing */

    /* border */

    /* transition */
}

