/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    color: #171717;
    font-family: 'Pretendard', sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/* li단독보다는 li를 감싸는 ul,ol를 초기화하는 방식을 추천 */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: 0;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

em,
i,
address {
    font-style: normal;
}